**CO1**

In [ ]:
# 2.Display future leap years from current year to a final year entered by user.

current=int(input("Enter the current year : "))
final=int(input("Enter a year which is greater than current year : "))
print("List of leap years :")
for year in range(current,final):
  if((year%4==0)and(year%100!=0))or(year%400==0):
    print(year)
    year=+1

Enter the current year : 2001
Enter a year which is greater than current year : 2023
List of leap years :
2004
2008
2012
2016
2020

In [ ]:
# 3. List comprehensions:

#a)Generate positive list of numbers from a given list of integers

a=(0,-4,9,10,5,-5,-8,1,3,20)
b=[i for i in a if i>0]
print('Positive list of numbers : ',b)

Positive list of numbers :  [9, 10, 5, 1, 3, 20]

In [ ]:
#b)Square of N numbers

a=(2,3,4,5,7,9)
b=[i**2 for i in a]
print('Square of numbers : ',b)

Square of numbers :  [4, 9, 16, 25, 49, 81]

In [ ]:
#c)Form a list of vowels selected from a given word

a=input("Enter a word : ")
b=[i for i in a if i in 'aeiouAEIOU']
print("The vowels are :",b)

Enter a word : home
The vowels are : ['o', 'e']

In [ ]:
#d)List ordinal value of each element of a word (Hint: use ord() to get ordinal values)

a=input('Enter a character : ')
b=[ord(i) for i in a]
print("Ordinal value :",b)

Enter a character : purple
Ordinal value : [112, 117, 114, 112, 108, 101]

In [ ]:
# 4. Count the occurrences of each word in a line of text.

str=input("Enter a sentence : ")
a=[]
a=str.split();
words=[a.count(i) for i in a]
print(dict(zip(a,words)))

Enter a sentence : life is an experiment. the more experiment you make the more life becomes better
{'life': 2, 'is': 1, 'an': 1, 'experiment.': 1, 'the': 2, 'more': 2, 'experiment': 1, 'you': 1, 'make': 1, 'becomes': 1, 'better': 1}

In [ ]:
# 5. Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead.

n=int(input("Enter the number of elements : "))
list=[]
for i in range (n):
  a=int(input("Enter the integer : "))
  if (a<100):
    list.append(a)
  else:
    list.append("over")
    print(list)

Enter the number of elements : 5
Enter the integer : 10
Enter the integer : 101
[10, 'over']
Enter the integer : 20
Enter the integer : 35
Enter the integer : 299
[10, 'over', 20, 35, 'over']

In [ ]:
# 6. Store a list of first names. Count the occurrences of ‘a’ within the list

names = ['Harry', 'Anagha', 'Alan']

for name in names:
    count = name.lower().count('a')
    print("'a' occurs in", name, count, 'times.')

'a' occurs in Harry 1 times.
'a' occurs in Anagha 3 times.
'a' occurs in Alan 2 times.

In [ ]:
# 7. Enter 2 lists of integers. Check :
  # (a) Whether list are of same length
  # (b) whether list sums to same value
  # (c) whether any value occur in both.

list1 = []
list2 = []

n1 = int(input("Enter the size of list 1: "))
print("Enter list 1:")
for _ in range(n1):
    item = int(input())
    list1.append(item)

n2 = int(input("Enter the size of list 2: "))
print("Enter list 2:")
for _ in range(n2):
    item = int(input())
    list2.append(item)

print("List 1:", list1)
print("List 2:", list2)

if n1 == n2:
    print("Lists are of the same length")
else:
    print("Lists are of different length")

if sum(list1) == sum(list2):
    print("Sum of lists are the same")
else:
    print("Sum of lists are different")

common_elements = [i for i in list1 if i in list2]
print("Common elements:", common_elements)

Enter the size of list 1: 4
Enter list 1:
2
4
6
8
Enter the size of list 2: 3
Enter list 2:
6
6
8
List 1: [2, 4, 6, 8]
List 2: [6, 6, 8]
Lists are of different length
Sum of lists are the same
Common elements: [6, 8]

In [ ]:
# 8. Get a string from an input string where all occurrences of first character replaced with ‘$’, except first character. [eg: onion -> oni$n]

str = input('Enter a string: ')
a = str[0]+str[1:].replace(str[0],'$')
print('Replaced string:', a)

Enter a string: characters
Replaced string: chara$ters

In [ ]:
# 9. Create a string from given string where first and last characters exchanged. [eg: python - > nythop]

text=input("Enter a word : ")
text[-1]+text[1:-1]+text[0]

Enter a word : Wednesday

'yednesdaW'

In [ ]:
# 10. Accept the radius from user and find area of circle.

pi=3.14
radius=int(input("Enter radius of the circle:"))
area=pi*radius*radius
print("The area = ",area)

Enter radius of the circle:10
The area =  314.0

In [ ]:
# 11. Find biggest of 3 numbers entered.

a=int(input("Enter first number :"))
b=int(input("Enter second number :"))
c=int(input("Enter third number :"))
if(a>b and a>c):
  print(a," is the largest")
elif(b>c):
  print(b," is the largest")
else:
  print(c," is the largest")

Enter first number :5
Enter second number :10
Enter third number :15
15  is the largest

In [ ]:
# 12. Accept a file name from user and print extension of that.

file_name = input("Enter a file name: ")
text = file_name.split(".")
print("Extension:", text[-1])

Enter a file name: art.html
Extension: html

In [ ]:
# 13. Create a list of colors from comma-separated color names entered by user. Display first and last colors.

color_input = input("Enter a list of colors separated by commas: ")
colors = color_input.split(',')
colors = [color.strip() for color in colors]

if len(colors) >= 2:
    print(f"First color: {colors[0]}")
    print(f"Last color: {colors[-1]}")
else:
    print("Please enter at least two colors separated by commas.")

Enter a list of colors separated by commas: black, white, blue, purple, green, yellow
First color: black
Last color: yellow

In [ ]:
# 14. Accept an integer n and compute n+nn+nnn.

n=int(input("Enter a number : "))
n1=n
n2=n*n
n3=n*n*n
print(n1+n2+n3)

Enter a number : 5
155

In [ ]:
# 15. Print out all colors from color-list1 not contained in color-list2.

c1 = ["Red", "Orange", "Yellow", "Green", "Blue"]
c2 = ["Purple", "Yellow", "Pink", "Blue", "Black"]

missing_colors = [i for i in c2 if i not in c1]

print("Colors from color-list 1 not in color-list 2:", missing_colors)

Colors from color-list 1 not in color-list 2: ['Purple', 'Pink', 'Black']

In [ ]:
# 16. Create a single string separated with space from two strings by swapping the character at position 1.

s1=input("Enter string 1 : ")
s2=input("Enter string 2 : ")
s3=s2[0]+s1[1:]+" "+s1[0]+s2[1:]
print("Swapped string :",s3)

Enter string 1 : Happy
Enter string 2 : Birthday
Swapped string : Bappy Hirthday

In [ ]:
# 17. Sort dictionary in ascending and descending order.

d = {'Allen': 1, 'Eden': 15, 'David': 12, 'Kiran': 33}

ascending_order = dict(sorted(d.items()))
descending_order = dict(sorted(d.items(), reverse=True))

print("Ascending order:", ascending_order)
print("Descending order:", descending_order)

Ascending order: {'Allen': 1, 'David': 12, 'Eden': 15, 'Kiran': 33}
Descending order: {'Kiran': 33, 'Eden': 15, 'David': 12, 'Allen': 1}

In [ ]:
# 18. Merge two dictionaries.

d1 = {'Alan': 10, 'Nevin': 40, 'Deepa': 20}
d2 = {'Rohit': 50, 'Sherin': 60, 'Joshua': 30}

merged_dict = {**d1, **d2}

print("Merged dictionaries:", merged_dict)

Merged dictionaries: {'Alan': 10, 'Nevin': 40, 'Deepa': 20, 'Rohit': 50, 'Sherin': 60, 'Joshua': 30}

In [ ]:
# 19. Find gcd of 2 numbers.

import math
x=int(input("Enter the first number : "))
y=int(input("Enter the second number : "))
print("GCD : ",math.gcd(x,y))

Enter the first number : 18
Enter the second number : 21
GCD :  3

In [ ]:
# 20. From a list of integers, create a list removing even numbers.

list = []
n = int(input("Enter the size of the list: "))
print("Enter elements:")
for _ in range(n):
    num = int(input())
    list.append(num)

new_list = [x for x in list if x % 2 != 0]

print("List after removal of even numbers:", new_list)

Enter the size of the list: 6
Enter elements:
1
2
3
4
5
6
List after removal of even numbers: [1, 3, 5]